server:
  port: ${ORCA_PORT:8083}

default:
  bake:
    account: default

front50:
  baseUrl: http://${FRONT50_HOST:localhost}:${FRONT50_PORT:8080}
tide:
  baseUrl: http://${TIDE_HOST:localhost}:${TIDE_PORT:8090}
oort:
  baseUrl: http://${OORT_HOST:localhost}:${OORT_PORT:7002}
mort:
  baseUrl: http://${MORT_HOST:localhost}:${MORT_PORT:7002}
kato:
  baseUrl: http://${KATO0_HOST:localhost}:${KATO0_PORT:7002}
echo:
  enabled: ${IGOR_ENABLED:false}
igor:
  baseUrl: http://${IGOR_HOST:localhost}:${IGOR_PORT:8088}
bakery:
  baseUrl: http://${BAKERY_HOST:localhost}:${BAKERY_PORT:8089}
  # Rosco exposes more endpoints than Netflix's internal bakery. This disables
  # the use of those endpoints.
  roscoApisEnabled: true
  allowMissingPackageInstallation: false

redis:
  connection: redis://${REDIS_HOST:localhost}:${REDIS_PORT:6379}

tasks:
  useWaitForAllNetflixAWSInstancesDownTask: false

